# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
blog-bytebank/.gitignore
blog-bytebank/astro.config.mjs
blog-bytebank/package.json
blog-bytebank/README.md
blog-bytebank/tsconfig.json
blog-bytebank/yarn.lock
blog-bytebank/.vscode/extensions.json
blog-bytebank/.vscode/launch.json
blog-bytebank/public/favicon.svg
blog-bytebank/public/fonts/atkinson-bold.woff
blog-bytebank/public/fonts/atkinson-regular.woff
blog-bytebank/src/consts.ts
blog-bytebank/src/content.config.ts
blog-bytebank/src/assets/blog-placeholder-1.jpg
blog-bytebank/src/assets/blog-placeholder-2.jpg
blog-bytebank/src/assets/blog-placeholder-3.jpg
blog-bytebank/src/assets/blog-placeholder-4.jpg
blog-bytebank/src/assets/blog-placeholder-5.jpg
blog-bytebank/src/assets/blog-placeholder-about.jpg
blog-bytebank/src/components/BaseHead.astro
blog-bytebank/src/components/Footer.astro
blog-bytebank/src/components/FormattedDate.astro
blog-bytebank/src/components/Header.astro
blog-bytebank/src/components/HeaderLink.astro
blog-bytebank/src/content/blog/first-post.md
blog-bytebank/src/content/blog/markdown-style-guide.md
blog-bytebank/src/content/blog/second-post.md
blog-bytebank/src/content/blog/third-post.md
blog-bytebank/src/content/blog/using-mdx.mdx
blog-bytebank/src/layouts/BlogPost.astro
blog-bytebank/src/pages/about.astro
blog-bytebank/src/pages/index.astro
blog-bytebank/src/pages/rss.xml.js
blog-bytebank/src/pages/blog/\[...slug].astro
blog-bytebank/src/pages/blog/index.astro
blog-bytebank/src/styles/global.css
