.product-link {
  text-decoration: none;
}

.product-link:hover > div {
  transition: .3s ease-in-out;
  border:solid var(--mui-palette-success-main) 2px;
}

.productsWrapper {
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 0 2rem 2rem 2rem;
  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}